<script type = "text/javascript">
    console.log("hello world");
    console.log(5 + 3); //8
    console.log(5 - 3); //2
    console.log(4 * 2); //8
    console.log(4 / 2); //2
    console.log(9 % 2); //1
    console.log("5 + 3"); //5 + 3
    console.log("5" + "3"); //53
    console.log("あい" + "うえお"); //あいうえお
    console.log("A" + "B" + "C"); //ABC
    let number = 5;
    console.log(number * 8);
    let name = "imai";
    console.log(name);
    // alert("hello world in dailog");
    document.querySelector('html').onclick = function() {
    alert('痛っ! つつくのはやめて!');
    }
    document.write("samurai</br>"); // </bt> means kaigyou
    document.write("<strong>samurai</strong> ");
</script>