#open,
#close {
  width: 250px;
  background-color: blue;
  cursor: pointer;
  padding: 20px;
  color: white;
  text-align: center;
}
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#modalContent {
  background-color: white;
  width: 350px;
  padding: 40px 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.5s;
}
#mask.hidden {
  display: none;
}
#modalContent.hidden {
  transform: translate(0, -800px);
}
