#list-show {
  background-color: #a3bde4;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
ul {
  padding: 1em;
  list-style-position: inside;
}
li {
  background-color: antiquewhite;
  padding: 1em;
  margin: 2em;
}
